<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="header">
  <h1>My Simple Express App</h1>
</div>

<div class="topnav">
  <a href="/info/students">Student List</a>
  <a href="/info/stud/new">Create New Student</a>
  <a href="/" style="float:right">Logout</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>STUDENT DB</h2>
      <h5>Jul 23, 2020</h5>
      <img src="images\studnetimage.jpg" alt="Student Image" style="width: 60%; padding: 10px;"/>
      <p><h4>DESCRIPTION</h4></p>
      <p>This is a simple express web app implemented in google chrome webpage.This app allows to manipulate cloud data to the website which allows to create student information or delete them. </p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Myself Am a Under grad who is waiting to complete my final sem exams that is hold up due to the pandemic issue.I have done many web full stack projects and also windows applications.Currently Unemployed,Open for any oppurtunities </p>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p><img src="images\github-mark.png" width="48" height="30" class="w3-round-xxlarge">Github: <a href="https://github.com/GowthamSaravana">GowthamSaravanan</a></p>
      <p><img src="images\LinkedIn-Logo.png.png" width="48" height="30" class="w3-round-xxlarge">LinkedIn: <a href="https://www.linkedin.com/in/gowtham-saravanan-44a20614b/">GowthamSaravanan</a></p>

    </div>
  </div>
</div>

<div class="footer">
  <h2>Email:<a href="www.gmail.com">gowthamlannister@gmail.com</a></h2>
</div>

</body>
</html>
